body {
  margin: 0 auto;
  text-align: center;
  background-color:ghostwhite;
}

h1 {
  margin-top: 20px;
  font-size: 3.2rem;
  font-weight: bolder;
}

img {
  width: 250px;
  height: 250px;
}

#game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
}